name: Build and deploy
on:
    workflow_call:
        inputs:
            environment:
                required: true
                type: string
        secrets:
            NAIS_WORKLOAD_IDENTITY_PROVIDER:
                required: true

jobs:
    deploy:
        name: Build image and deploy to nais
        runs-on: ubuntu-latest
        permissions:
            contents: read
            id-token: write
        environment: ${{ inputs.environment }}
        steps:
            - name: Checkout repo
              uses: actions/checkout@v6
            - name: Setup node.js
              uses: actions/setup-node@v6
              with:
                  node-version: 24
                  cache: 'pnpm'
            - name: Setup pnpm
              run: corepack enable
            - name: Install dependencies
              run: pnpm install --frozen-lockfile
            - name: Build application
              run: pnpm run build
            - name: Delete node_modules to avoid copying them into the docker image
              run: rm -rf node_modules
            - name: Install production dependencies
              run: pnpm install --frozen-lockfile --prod
            - name: Build and push docker image
              uses: nais/docker-build-push@v0
              id: docker-push
              with:
                  team: navno
                  project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
                  identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
                  image_suffix: ${{ inputs.environment }}
            - name: Deploy to nais
              uses: nais/deploy/actions/deploy@v2
              env:
                  CLUSTER: ${{ inputs.environment }}-fss
                  VAR: image=${{ steps.docker-push.outputs.image }}
                  RESOURCE: .nais/config.${{ inputs.environment }}.yaml
