name: Deploy to dev
on: workflow_dispatch

jobs:
  deploy:
    name: Deploy to dev
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Build and deploy to dev
        uses: ./.github/actions/build-and-deploy
        with:
          environment: dev
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
